/* Header bar styles*/
.header-container
{
   font-family: inherit;
   background-color: #4267B2;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 1;
   top: 0px;
   left: 0px;
}

.title
{
   color: white;
   background-color: #4267B2;
   font-size: 1.4em;
   margin-top: 15px;
   display: inline-block;
   padding: 5px;
}

/*
   left column section
   Form and image links
*/
.left-section
{
   display: inline-block;
   width: 32%;
   position: fixed;
   top: 12%;
   font-family: inherit;
}

.form-container
{
   padding: 10px;
   border: 1px solid #dddfe2;
   border-radius: 4px;
   background-color: #f5f6f7;
   box-sizing: border-box;
}

.fields
{
   width: 100%;
   box-sizing: border-box;
}

.submit
{
   color: inherit;
   box-sizing: border-box;
}

form label
{
   box-sizing: border-box;
}

.github-container, .linkedin-container
{
   border: 1px solid #dddfe2;
   border-radius: 4px;
   background-color: #f5f6f7;
   font-family: inherit;
   font-size: 2.3em;
   margin-bottom: 10px;
   padding: 10px;
   text-align: center;
}

.github-icon
{
   margin-top: 5px;
   width: 15%;
}

.linkedin-icon
{
   margin-top: 5px;
   width: 15%;
}

/* Middle column section */
.timeline-container
{
   display: inline-block;
   position: absolute;
   background-color: white;
   width: 33%;
   font-family: inherit;
   top: 12%;
   left: 33%;
}

.post-container
{
   display: block;
   border: 1px solid #dddfe2;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 6px;
   box-sizing: border-box;
}

.handle-section span
{
   display: inline-block;
}

.date-time
{
   position: absolute;
   left: 74%;
   font-size: 0.9em;
   color: #606770;
}

/* Right column */
.right-section
{
   position: fixed;
   display: inline-block;
   font-family: inherit;
   top: 12%;
   left: 66.5%;
   width: 31.75%;
}

.search-container
{
   border: 1px solid #dddfe2;
   border-radius: 4px;
   padding: 10px;
   background-color: #f5f6f7;
}

.search
{
   width: 100%;
}

.ucf-logo-container
{
   position: absolute;
}

.ucf-logo
{
   position: relative;
   width: 50%;
   top: 140px;
   left: 125px;
}

/* Psuedo Classes */
.submit:hover
{
   background-color: #dddfe2;
}

input:hover, textarea:hover
{
   border-color: #4267B2;
}

img:hover
{
   background-color: #e8e9eb;
   border: 1px solid #dddfe2;
   border-radius: 10px;
}

/* Responsiveness */

/* Desktop Viewport */
@media screen and (min-width: 1295px)
{
   .date-time
   {
      left: 69%;
   }
}

@media screen and (min-width: 1215px)
{
   .date-time
   {
      left: 67%;
   }
}

@media screen and (min-width: 1129px)
{
   .date-time
   {
      left: 65%;
   }
}

@media screen and (min-width: 1024px)
{
   .date-time
   {
      left: 60%;
   }

   .ucf-logo
   {
      left: 25%;
   }
}

/* iPad Pro Viewport */
/* Portrait */
@media (min-width: 1024px) and (min-height: 1366px)
{
   .left-section, .timeline-container, .right-section
   {
      top: 6%;
   }
}

/* Landscape */
@media (min-width: 1366px) and (min-height: 1024px)
{
   .left-section, .timeline-container, .right-section
   {
      top: 8%;
   }
}
