/* Header bar styles*/
.header-container
{
   font-family: inherit;
   background-color: #4267B2;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 1;
   top: 0px;
   left: 0px;
}

.title
{
   color: white;
   background-color: #4267B2;
   font-size: 1.4em;
   margin-top: 15px;
   display: inline-block;
   padding: 5px;
}

/* left column section*/
.left-section
{
   display: inline-block;
   width: 32%;
   position: fixed;
   top: 12%;
   font-family: inherit;
}

.form-container
{
   padding: 10px;
   border: 1px solid #dddfe2;
   border-radius: 4px;
   background-color: #f5f6f7;
   box-sizing: border-box;
}

.fields
{
   width: 100%;
   box-sizing: border-box;
}

.submit
{
   color: inherit;
   box-sizing: border-box;
}

form label
{
   box-sizing: border-box;
}

.github-container, .linkedin-container
{
   border: 1px solid #dddfe2;
   border-radius: 4px;
   background-color: #f5f6f7;
   font-family: inherit;
   width: 100%;
   font-size: 2.3em;
   text-align: center;
   box-sizing: border-box;
   margin-bottom: 10px;
   display: inline-block;
}

.github-icon
{
   width: 6.75%;
}

.linkedin-icon
{
   width: 9%;
}

.github-link, .linkedin-link
{
   color: inherit;
   text-decoration: none;
}

/* Middle column section */
.timeline-container
{
   display: inline-block;
   position: absolute;
   background-color: white;
   width: 33%;
   font-family: inherit;
   top: 12%;
   left: 33%;
}

.post-container
{
   display: block;
   border: 1px solid #dddfe2;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 6px;
   box-sizing: border-box;
}

.handle-section span
{
   display: inline-block;
}

.date-time
{
   font-size: 0.9em;
   color: #606770;
}

/* Search column */
.search-container
{
   position: fixed;
   display: inline-block;
   font-family: inherit;
   border: 1px solid #dddfe2;
   border-radius: 4px;
   top: 12%;
   left: 66.5%;
   width: 31.75%;
   padding: 10px;
   background-color: #f5f6f7;
}

.search
{
   width: 100%;
   height: 100%;
}
